// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {color:blue;
	font-family:timesnewroman;
	padding-left: 100;
}